body {
  font-family: Arial, sans-serif;
  margin: 20px;
}

h1 {
  text-align: center;
}

button {
  padding: 10px;
  margin: 5px;
  cursor: pointer;
}

form {
  margin-bottom: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

label {
  margin-bottom: 5px;
}

input {
  padding: 8px;
  margin-bottom: 10px;
  width: 250px;
}

table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 20px;
  display: none; /* Initially hide the table */
}

th,
td {
  border: 1px solid #ddd;
  padding: 10px;
  text-align: left;
}
